

@import "tailwindcss";
a.active hr {
  display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Outfit", sans-serif;
}

@media (max-width: 640px) {
  a.active {
      background-color: black;
      color: white;
  }
}
